@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #eee;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #444;
}
a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.green-gradient{
    background: rgb(116,228,135);
    background: linear-gradient(90deg, rgba(116,228,135,1) 0%, rgba(17,162,70,1) 100%);
    border: none;
    height: 100%;
}
.peach-gradient{
    background: rgb(255,216,111);
background: linear-gradient(90deg, rgba(255,216,111,1) 0%, rgba(252,98,98,1) 100%);
    border: none;
    height: 100%;
}
.aqua-gradient{
    background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
    border: none;
    height: 100%;
}
.young-passion-gradient{
    background: rgb(28,74,139);
background: linear-gradient(90deg, rgba(28,74,139,1) 0%, rgba(106,59,188,1) 100%);
    border: none;
    height: 100%;
}
.young-passion-gradient1{
    background: rgb(228,116,122);
background: linear-gradient(90deg, rgba(228,116,122,1) 0%, rgba(203,81,107,1) 100%);
    border: none;
    height: 100%;
}
.dusty-grass-gradient{
    background: linear-gradient(120deg,#d4fc79 0,#96e6a1 100%);
    border: none;
    height: 100%;
}
.icon i{
    color: #fff;
    font-size: 35px;
    margin-bottom: 15px;
}
.navbar {
    background: #ffffff;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: rgb(110 100 110) 0 -1px 2px;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #FFF;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 18px;
    background: #fff;
}
#sidebar .sidebar-header h2{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    color: #1d3557;
    font-size: 15px;
    padding: 10px;
    display: block;
}
#sidebar ul li.active a {
    color: #fff;
}
.text-color li a{
    color: #444 !important;
}
#sidebar ul li a:hover {
    color: #444;
    background: #eceff3;
}
#sidebar ul li.active #active:hover{
    background: #444;
    color: #fff;
}
#sidebar ul li.active,
a[aria-expanded="true"] {
    /* color: #fff;
    background: #3b616c70; */
    color: #444;
    background: #444;
}
#sidebar ul ul li.active{
  font-weight: 700;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.admin-content{
    padding-top: 15px;
    padding-bottom: 15px;
}
.message{
    display: block;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 2;
}
.card-header h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 39px;
}
.action-list li{
    display: inline-block;
}
.action-list li img{
    width: 20px;
    height: 20px;
}
.card-text{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}
.view-member tbody .label{
    font-size: 15px;
    font-weight: 600;
    margin-right: 15px;
}
.view-member tbody td{
    display: inline-block;
    font-size: 14px;
}
.view-member tbody tr{
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    display: block;
}
.user_name,
.phone_number{
    display: none;
}
.table {
    font-size: 0.8rem;
}
/* ---------------------------------------------------
    Preloader
----------------------------------------------------- */
.loader{
  background: rgba(255,255,255,0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.loader .loader-inner{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #D85C27;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%,-45%);
}
.loader .box-1{
    animation-name: loading-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
}
.loader .box-2{
    animation-name: loading-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
}
.loader .box-3{
    animation-name: loading-3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
}
.loader .box-4{
    animation-name: loading-4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
}
.profile-pic {
    width: 80px;
    height: 80px;
}
.btn-dark {
    background: #DF323F;
    border: 0;
}
@-webkit-keyframes loading-1{
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(150%, 150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(150%, 150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}
@keyframes loading-1{
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(150%, 150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(150%, 150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}
@-webkit-keyframes loading-2{
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(150%, -150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(150%, -150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}
@keyframes loading-2{
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(150%, -150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(150%, -150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}
@-webkit-keyframes loading-3{
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(-150%, -150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(-150%, -150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}
@keyframes loading-3{
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(-150%, -150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(-150%, -150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}
@-webkit-keyframes loading-4{
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(-150%, 150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(-150%, 150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}
@keyframes loading-4{
    0% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 0);
    }
    20% {
        transform: rotate3d(0, 0, 1, 0deg) translate3d(-150%, 150%, 0);
    }
    80% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(-150%, 150%, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg) translate3d(0, 0, 0);
    }
}


